<footer class="">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-4">
                <div class="card-text text-center text-white">
                        <h3>LOCATION</h3>
                        <p>2215 John Daniel Drive</p>
                        <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-text text-center text-white">
                        <h3>AROUND THE WEB</h3>
                       <ul class="list-unstyled d-flex  justify-content-center">
                        <li class=" border rounded-circle mx-2"><i class="fa-brands fa-facebook p-3"></i></li>
                        <li class=" border rounded-circle mx-2"><i class="fa-brands fa-twitter p-3"></i></li>
                        <li class=" border rounded-circle mx-2"><i class="fa-brands fa-linkedin p-3"></i></li>
                        <li class=" border rounded-circle mx-2"><i class="fa-solid fa-earth-europe p-3"></i></li>
                       </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-text text-center text-white">
                        <h3>ABOUT FREELANCER</h3>
                        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>

    </div>
    <div class="lastFooter text-center py-3">
        <p class="text-white">Copyright © Your Website 2021</p>
    </div>
</footer>