<section>
    <div class="container">
       <div class="title-text text-center my-3">
            <h2>PORTFOLIO COMPONENT</h2>
            <div class="under-line d-flex justify-content-center">
                <div class="half-line"></div>
                <i class="fa-solid fa-star mx-2"></i>
                <div class="half-line"></div>
            </div>
        </div>

        
        <div class="tab-pane fade show active" id="all-tab-pane" role="tabpanel" aria-labelledby="all-tab"
        tabindex="0">
        <div class="row g-5 mb-5">
            <div class="col-md-4">
                <div class="position-relative" data-bs-target="#img1" data-bs-toggle="modal">
                    <img src="../../assets/images/poert1.png" class="img-fluid" alt="">
                <div class="layer position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white"></i>
                </div>
                </div>
                <div class="modal fade" id="img1" aria-hidden="true" aria-labelledby="img1" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content">
  
                        <div class="popup-img position-relative">
                          <img src="../../assets/images/poert1.png" class="img-fluid" alt="">
                        </div>
  
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative" data-bs-target="#img2" data-bs-toggle="modal">
                    <img src="../../assets/images/port2.png" class="img-fluid" alt="">
                <div class="layer position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white"></i>
                </div>
                </div>
                <div class="modal fade" id="img2" aria-hidden="true" aria-labelledby="img2" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content">
  
                        <div class="popup-img position-relative">
                          <img src="../../assets/images/port2.png" class="img-fluid" alt="">
                        </div>
  
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative" data-bs-target="#img3" data-bs-toggle="modal">
                    <img src="../../assets/images/port3.png" class="img-fluid" alt="">
                <div class="layer position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white"></i>
                </div>
                </div>
                <div class="modal fade" id="img3" aria-hidden="true" aria-labelledby="img3" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content">
  
                        <div class="popup-img position-relative">
                          <img src="../../assets/images/port3.png" class="img-fluid" alt="">
                        </div>
  
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative" data-bs-target="#img4" data-bs-toggle="modal">
                    <img src="../../assets/images/poert1.png" class="img-fluid" alt="">
                <div class="layer position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white"></i>
                </div>
                </div>
                <div class="modal fade" id="img4" aria-hidden="true" aria-labelledby="img4" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content">
  
                        <div class="popup-img position-relative">
                          <img src="../../assets/images/poert1.png" class="img-fluid" alt="">
                        </div>
  
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative" data-bs-target="#img5" data-bs-toggle="modal">
                    <img src="../../assets/images/port2.png" class="img-fluid" alt="">
                <div class="layer position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white"></i>
                </div>
                </div>
                <div class="modal fade" id="img5" aria-hidden="true" aria-labelledby="img5" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content">
  
                        <div class="popup-img position-relative">
                          <img src="../../assets/images/port2.png" class="img-fluid" alt="">
                        </div>
  
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative" data-bs-target="#img6" data-bs-toggle="modal">
                    <img src="../../assets/images/port3.png" class="img-fluid" alt="">
                <div class="layer position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus text-white"></i>
                </div>
                </div>
                <div class="modal fade" id="img6" aria-hidden="true" aria-labelledby="img6" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content">
  
                        <div class="popup-img position-relative">
                          <img src="../../assets/images/port3.png" class="img-fluid" alt="">
                        </div>
  
                      </div>
                    </div>
                  </div>
            </div>
        </div>
      
        



    </div>
    </div>
</section>
<!-- <div class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->