<section>
    
    <div class="container w-50 my-5 ">
        <div class="title-text text-center my-3">
            <h2>CONTACT COMPONENT</h2>
            <div class="under-line d-flex justify-content-center">
                <div class="half-line"></div>
                <i class="fa-solid fa-star mx-2"></i>
                <div class="half-line"></div>
            </div>
        </div>
        <form>
            <div class="mb-5">
              <input type="text" class="form-control" placeholder="userName">
            </div>
            <div class="mb-5">
              <input type="number" class="form-control" placeholder="userAge">
            </div>
            <div class="mb-5">
              <input type="email" class="form-control" placeholder="userEmail">
            </div>
            <div class="mb-5">
              <input type="password" class="form-control" placeholder="userPassword">
            </div>
        
           
           
            <button type="submit" class="btn ">send Message</button>
          </form>
    </div>
</section>

