section{
    padding-top: 50px;
}
.half-line{
    width: 50px;
    height: 5px;
    background-color: #2C3E50;
margin-top: 5px;
}
h2{
    font-size: 40px;
    font-weight: 700;
}
input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
button{
    background-color: #1ABC9C;
    color: white;
}